ol, ul, li{
  list-style: none;

}
a{
  text-decoration: none;
}
/*Універсальний селектор*/
*{
  padding: 0;
  margin: 0;
}
img {
	vertical-align: top;
	width: auto;
	height: auto;
	max-width: 100%;
}
body{
  background-color: rgba(128, 128, 128, 0.74);
}
/*header start*/
/*Дочірній селектор*/
.menu > li{
  display: inline-block;
  position: relative;
  transition: all linear 0.6s;
}
.menu > li > ol {
  position: absolute;
  padding-left: 0;
  display: none;
  transition: all linear 0.6s;
  width: 0;
}
.menu > li:hover > ol {
  display: block;
  width: 110px;
}
/*Вкладенний селектор*/
.menu a{
  background-color: gray;
  color: orange;
  width: 110px;
  height: 40px;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  transition: all linear 0.6s;
  border-radius: 5px;
  border: 2px solid transparent;
}
.menu a:hover {
 background-color: black;
 color: rgb(250, 198, 101);
 border: 2px solid rgb(250, 198, 101);
 
}
.menu{
  background-color: gray;
  margin: 0 auto;
  width: 500px;
}
header{
  background-color: gray;
}
/*header end*/
.blog{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}
aside, article{
  flex-basis: 300px;
  
}
aside{
  order: -1;
}
article{
  flex-grow: 1;
  padding: 20px;
}
/*.contact start*/
.contact{
  background-image: url("../img/whatsApp.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  position: fixed;
  top: 50px;
  left: 85%;
  background-color: rgba(128, 128, 128, 0.74);
}
.contact a {
  display: block;
  width: 100%;
  height: 100%;
 

}
.contact::before{
  position: absolute;
  content: "";
  border: 15px solid transparent;
  border-top: 15px solid rgb(27, 200, 63) ;
  top: 50px;
  left: 10px;
}



/*.contact end*/
/*article start*/
article{
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.74);
  padding-bottom: 100px;
}
article img{
  width: 250px;
  float: left;
  margin-right: 15px;
  
}
article h2{
  color: yellow;
  margin-top: 50px;
  margin-bottom: 15px;
}
article p{
  color: orange;
}
.clear{
  clear: both;
}
/*article end*/
/*form img start*/
#form_img{
  margin-left: 50px;
    


}
/*родинний селектор*/
label ~ img{
  width: 200px;
  display: none;
}
#switch:checked ~ img{
  display: block;
}
label + img + img + img {
  border-radius: 30px;
  

}
q{
  color: yellow;
}
q[title]{
  color: red;
}
a[href ^= "https"] {
color: red;
}
a[href $= ".com"] {
color: blue;
}
a[href *= "github"] {
color: green;
}
h2[class ~= "big text"] {
color: pink;
}
/*Комбінування селекторів*/
.big.text{
  background-color: green;
  color: white;
}
/*form img end*/
/*skill start*/
.skills{
  min-height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;

}
div[class ^= "skill"] {
flex-basis: 250px;

}
.skill-1{
  text-align: center;
}
.skill-img{
  height: 45px;
  width: 50px;
}
.skill-2{
  padding: 40px 20px 20px 30px;
  background-color: orange;
  background-image: url("../img/skill_icon.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 80% 10px;
  border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
}
.skill-2 > h3{
  text-align: right;
  color: red;
}
.skill-2 > p{
  padding-top: 20px;
  text-align: justify;
  border-top: 3px solid white ;
  color: white;
}
.skill-3{
  height: 300px;
  align-self: center;

}
.skill-3 img{
  height: 200px;
  width: 100%;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
/*skill end*/

/*cart start*/
.cart-box{
  width: 80%;
  min-height: 400px;
  margin: 50px auto;
  display: grid;
  grid-template-areas: 
  'cart-1 cart-1 cart-2'
  'cart-3 cart-4 cart-5';
  grid-template-rows: 220px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  
}
div[class ^= "cart"]{
  background-color: gold;
  border: 3px solid orange;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 8px 8px 7px -1px gray;
}
.cart-link{
  display: inline-block;
  overflow: hidden;
  width: 30%;
  height: auto;
}
.cart-link img{
  width: 100%;
  height: 100%;
  transition: 0.6s;

}
.cart-link:hover img{
  transform: scale(2);

}
.cart-1{
grid-area: cart-1;
}
.cart-2{
  grid-area: cart-2;
}
.cart-3{
  grid-area: cart-3;
}
.cart-4{
  grid-area: cart-4;
}
.cart-5{
  grid-area: cart-5;
}
@media screen and (max-width:960px){
  .cart-box{
    grid-template-rows: 170px;
  }

}
@media screen and (max-width:800px){
 .cart-box{
  grid-template-areas: 'cart-1' 'cart-2' 'cart-3' 'cart-4' 'cart-5';
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
 }
 .skills{
  flex-direction: column;
 }
}

/*cart end*/
@media screen and (max-width:600px) {
article h2 {
  font-size: 16px;
  color: aqua;
}
article p{
  font-size: 12px;
  color: aquamarine;
}
}
/*bootstrap*/
.block{
  height: 100px;
  background-color: black;
  border: 2px solid yellow;
}


.accordion .btn_accord{
  background-color: yellow;
  color: black;
  transition: 0.6s;
}
.accordion{
  height: 700px;
  padding: 100px 0;
  
}
.accordion .btn_accord:hover{
  background-color: orange;
  color: gray;
}
.accordion .accordion-text{
  color: black;
  background-color: aquamarine;
  transition: 0.4s;
}
.accordion .accordion-text:hover{
  background-color:black;
  color: blue;
}
/*slider*/
.container{
  width: 1200px;
  margin: 0 auto;

}
.slider .slider-items{
  margin: 20px;
  border: 1px solid gray;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.slider .slider-items img{
  width: 200px;
  height: 100px;
}
.slider .slider-items h3{
font-size: 26px;
font-weight: 800;
margin-top: 10px;
}
.slider .slider-items p{
  color: gray;
  font-size: 18px;

}
.slider .slider-items a{
  display: inline-block;
  background-color: blue;
  color: white;
  padding: 8px 25px 10px 25px;
  transition: 0.5s;
}
.slider .slider-items a:hover{
  background-color: aqua;
  color: black;

}
.carousel {
  position: relative;
}
.carousel-control-prev{
  position: absolute;
  left: -100px;
}
.carousel-control-next{
  position: absolute;
  right: -100px;
}
/*bootstrap end*/

/*table start*/
.table1{
  width: 90%;
  margin: 0 auto;
}

.table-rating{
  width: 100%;
  margin: 50px auto;
  color: gray;
}
.table-rating th,
.table-rating tb{
  border: 3px solid gray;
  padding: 3px;

}
.table-img{
  width: 50px;
}
.table-rating tbody{
  background: rgb(53, 53, 53);

}
.table-rating thead,
.table-rating tfoot,
.table-rating tr:hover{
  background: black;

}
.table-rating caption{
width: 100%;
height: 100px;
background-image: url("../img/tableheader.jpg");
background-size: 300px 100px;
background-repeat: no-repeat;
background-position: center;
background-color: black;
border-top-left-radius: 100%;
border-top-right-radius: 100%;

}
.table-rating tbody td{
  border: gray solid 3px;
}
/*table end*/

/*form start*/
.form-pull{
  width: 900px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 15px black;
  color: white;
  background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%);
}
.form-pull h2{
  color: yellowgreen;
  text-shadow: 3px 3px 0px black;
}
.field{
  display: inline-block;
  margin-right: 30px ;
}
.form-pull div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-pull div b  {
  display: inline-block;
  width: 200px;
}
.form-pull .field-2 div{
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  width: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form-pull .field-2 div b{
  margin-bottom: 15px;
}
.form-pull .field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form-pull .field b{
  margin-bottom: 15px;
  margin-top: 15px;
}
.form-pull .field input{
  margin-right: 20px;
}
.captcha img{
  width: 50px;

}
.captcha-span{
  position: relative;
}
.captcha-span::after{
  position: absolute;
  left: 0px;
}
.captcha-check:valid + .captcha-span::after{
  content: url("../img/ok.png");
}
.captcha-check:invalid + .captcha-span::after{
  content: url("../img/nook.png");
  left: -50px;
}
.captcha-false{
  color: red;
  margin-left: 30px;
}
.captcha-check:valid ~ .captcha-false{
  display: none;
}
/*form end*/
/*parallax start*/
.visual-section1{
  background-image: url("../img/bg_p_1.jpg");
}
.visual-section2{
  background-image: url("../img/bg_p_2.jpg");
  padding-top: 100px;
}
.visual-section1, .visual-section2{
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  
}
.btn-big{
  position: relative;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  border: 1px solid orange;
  background: transparent;
  overflow: hidden;
}
.btn-big a{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 32px;
  color: orange;
}
.btn-big::before{
  content: "";
  position: absolute;
  top: 80px;
  left: -70px;
  width: 300px;
  height: 150px;
  background: linear-gradient(0deg, #ebeb09, #f0f07a);
 transform: rotate(15deg);
 transition: 0.5s;
}
.btn-big:hover::before{
  top: -70px;
  left: -70px;
}
